<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoidW5pdHRlc3RpbmdwcmV2aWV3cyIsImxvY2F0aW9uIjp7InJlbW90ZSI6
		W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL011dGF0aW5n
		RnVuY1wvVW5pdFRlc3RpbmdQcmV2aWV3cyJ9XX0sInByb2R1Y3RGaWx0ZXIi
		Om51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoi
		MC4xLjQiLCJ1cHBlckJvdW5kIjoiMS4wLjAifV19fV19XSwiZGlzcGxheU5h
		bWUiOiJDUkRUIExpYnJhcnkiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0s
		InBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6Imlv
		cyIsInZlcnNpb24iOiIxNy4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IkNS
		RFQiLCJzZXR0aW5ncyI6W10sInRhcmdldHMiOlsiQ1JEVCJdLCJ0eXBlIjp7
		ImxpYnJhcnkiOlsiYXV0b21hdGljIl19fSx7Im5hbWUiOiJDUkRUIExpYnJh
		cnkiLCJzZXR0aW5ncyI6W3siZGlzcGxheVZlcnNpb24iOlsiMS4wIl19LHsi
		YnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50
		Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFs
		dWUiOiJpbmRpZ28ifX19LCJhcHBJY29uIjp7InBsYWNlaG9sZGVyIjp7Imlj
		b24iOnsicmF3VmFsdWUiOiJib3gifX19LCJjYXBhYmlsaXRpZXMiOltdLCJz
		dXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBw
		b3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0s
		eyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsi
		cG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1p
		bGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIlRlc3RBcHAiXSwi
		dHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQ1JE
		VCI6eyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6IkNS
		RFQiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJyZXNvdXJjZXMiOltdLCJzZXR0
		aW5ncyI6W10sInR5cGUiOiJyZWd1bGFyIn0sIlRlc3RBcHAiOnsiZGVwZW5k
		ZW5jaWVzIjpbeyJieU5hbWUiOlsiQ1JEVCIsbnVsbF19LHsicHJvZHVjdCI6
		WyJVbml0VGVzdGluZ1ByZXZpZXdzIiwiVW5pdFRlc3RpbmdQcmV2aWV3cyIs
		bnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IlRlc3RBcHAiLCJw
		YWNrYWdlQWNjZXNzIjp0cnVlLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6
		W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJl
		U2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUi
		OiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOltd
		LCJleGNsdWRlIjpbXSwibmFtZSI6IkNSRFQiLCJwYWNrYWdlQWNjZXNzIjp0
		cnVlLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJyZWd1
		bGFyIn0seyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJDUkRUIixudWxs
		XX0seyJwcm9kdWN0IjpbIlVuaXRUZXN0aW5nUHJldmlld3MiLCJVbml0VGVz
		dGluZ1ByZXZpZXdzIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1l
		IjoiVGVzdEFwcCIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVy
		ZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJz
		d2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6
		eyJfdmVyc2lvbiI6IjUuOS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		+UoykR7WfpRLVBPe5wmZ+/I6wllMO3Po6uCPxXMMH8Q=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
